<nav>
    <a>Theater</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
    </ul>
</nav>